<div id='bird-index'>
  <h1>Click the Name of a bird to see a larger picture.</h1>

  <table>
    <thead>
      <th></th>
      <th>Name</th>
      <th>Photo</th>
      <th># of Locations Seen</th>
      <th>Priority Species?</th>
    </thead>
    <tbody>
      <% count = 1 %>
      <% @birds.each do |bird| %>
      <tr>
        <td><%= count %></td>
        <td><%= link_to bird.name, bird_path(bird) %></td>
        <td>
          <% if bird.photo_file_name %>
            <%= image_tag(bird.photo.url(:thumbnail)) %>
            <p class="photo-credit"><span>Photo Credit: </span><%= bird.attribution %></p>
          <% end %>
        </td>
        <td><%= bird.number_of_locations %></td>
        <td><%= t_f?(bird.priority) %></td>
      </tr>
      <% count += 1 %>
      <% end %>
    </tbody>
  </table>
</div>