<div id='bird-show'>
  <h1><%= @bird.name %></h1>

  <% if @bird.priority %>
  <h4>Priority Bird</h4>
  <% end %>

  <p>Seen at <span class='count'><%= @bird.number_of_locations %></span> locations in April-June </p>

  <% if @bird.photo_file_name %>
    <div class='photo-floating'>
      <%= image_tag @bird.photo.url(:medium) %>
      <p class="photo-credit"><span>Photo Credit: </span><%= @bird.attribution %></p>
    </div>
  <% end %>

  <% if @bird.description %>
    <p><%= @bird.description %></p>
  <% end %>
</div>
