<!DOCTYPE html>
<html>
<head>
  <title>CostaRicaBirdFlashcards</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Birds of Costa Rica", root_path %>
  <h2>April-June (at select sites)</h2>
  <hr>

<%= yield %>

</body>
</html>
